* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
.slider_container {
    background: #fff;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.slider_container .slide_container .slidee .slider_image img:hover {
    transform: scale(1.05);
}

.slider_container h1 {
    font-family: "Mohave";
    font-style: normal;
    /* margin-top: 30px; */
    padding: 20px 0px;
    font-weight: 600;
    font-size: 34px;
    letter-spacing: 0.05em;
    color: #626262;
}
.slider_container h1 span {
    font-weight: 600;
    font-size: 42px;
    color: #febd01;
}
.slider_container .slide_container {
    display: none;
}
.slider_container .slide_container.active {
    display: block;
    animation: fadeImg 0.02s;
}
@keyframes slide {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}
.slider_container .slide_container .slidee {
    animation-name: slide;
    animation-duration: 10s;
}
.slider_container .slide_container .slidee {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2px 5%;
}
.slider_container .slide_container .slidee .slide_content {
    flex: 1 1 350px;
    text-align: start;
    padding-left: 40px;
}
.slider_container .slide_container .slidee .slider_image {
    flex: 0 1 450px;
    height: 460px;
    /* position: relative; */
}
.slider_container .slide_container .slidee .slider_image {
    flex: 0 1 450px;
    height: 460px;
}

.slider_container .slide_container .slidee .slider_image img {
    width: 100%;
    object-fit: cover;
    height: 100% !important;
    object-position: bottom;
    transition: all 1s;
}
.slider_container .slide_container .slidee .slide_content h3 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #626262;
    margin: 16px 0px;
}
.slider_container .slide_container .slidee .slide_content p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #484848;
    text-align: justify;
    text-transform: none !important;
    margin-bottom: 20px;
}
.slider_container .slide_container .slidee .slide_content a {
    font-family: "Mohave";
    font-style: normal;
    color: #00aa4a;
    margin: 16px 0px;
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.04em;
}

.slider_container .slide_container:nth-child(1).slidee {
    background: linear-gradient(90deg, #f9f9f9 70%, #f9f9f9 30.1%);
    position: relative;
}
.slider_container .slide_container:nth-child(2).slidee {
    background: linear-gradient(90deg, #f9f9f9 70%, #f9f9f9 30.1%);
    position: relative;
}
.slider_container .slide_container:nth-child(3).slidee {
    background: linear-gradient(90deg, #f9f9f9 70%, #f9f9f9 30.1%);
    position: relative;
}

.slider_container .prev_next_counter {
    width: 100%;
    display: flex;
    /* border: 1px solid yellow; */
    margin-bottom: 20px !important;
    /* justify-content: flex-start; */
    align-items: center;
}
.slider_container .prev_next_counter .counter_parent {
    /* border: 1px dashed blue; */
    margin-left: 30px;
    width: 25%;
    text-align: center;
}
.slider_container .prev_next_counter .prev_next_parent {
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 11%;
}
.slider_container .prev_next_counter .prev_next_parent #prev {
    font-size: 20px;
}
.slider_container .prev_next_counter .prev_next_parent #prev img {
    color: #00aa4a;
    display: flex;
    justify-content: left;
    font-size: 10px !important;
}
.slider_container .prev_next_counter .prev_next_parent #next img {
    color: #00aa4a;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.slider_container .prev_next_counter .prev_next_parent #prev,
.slider_container .prev_next_counter .prev_next_parent #next {
    background-origin: transparent;
    color: #272323;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}
.slider_container .prev_next_counter .counter_parent #counter {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #484848;
}

/* (((((((((((((((((((((((((((((((((((RESPONSIVENESS))))))))))))))))))))))))))))))))))) */

@media screen and (max-width: 900px) {
    .slider_container {
        height: auto !important;
    }
    .slider_container .slide_container .slidee {
        padding: 0px 5%;
    }
    .slider_container .slide_container .slidee .slider_image {
        flex: 1 1 300px;
        height: auto;
        margin-bottom: 30px;
    }
    .slider_container .slide_container .slidee .slide_content {
        flex: 1 1 300px;
        text-align: start;
        padding-left: 20px;
    }
    .slider_container .prev_next_counter .prev_next_parent {
        width: 20%;
    }
    .slider_container .prev_next_counter {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 678px) {
    .slider_container h1 {
        font-family: "Mohave";
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        letter-spacing: 0.05em;
        color: #626262;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .slider_container h1 span {
        font-size: 34px;
        color: #febd01;
    }
    .slider_container .slide_container .slidee {
        flex-direction: column-reverse;
    }
    .slider_container .slide_container .slidee .slide_content {
        flex: 1 1 200px;
    }
    .slider_container .slide_container .slidee .slider_image {
        flex: 1 1 550px;
        margin-bottom: 0px;
    }
    .slider_container .prev_next_counter {
        justify-content: space-between;
        width: 100%;
    }
    .slider_container .prev_next_counter .prev_next_parent {
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    .slider_container .prev_next_counter .counter_parent {
        margin-left: 35px;
        width: 45%;
        text-align: center;
    }
}
@media screen and (max-width: 425px) {
    .slider_container .slide_container .slidee {
        height: auto;
    }
    .slider_container .slide_container .slidee .slide_content {
        padding-left: 0px;
    }
    .slider_container .slide_container .slidee .slide_content h3 {
        font-size: 20px;
        font-weight: 600;
    }
    .slider_container .slide_container .slidee .slide_content p {
        font-size: 15px;
    }
    .slider_container .slide_container .slidee .slider_image {
        flex: 1 1 362px;
    }
    .slider_container .prev_next_counter {
        margin-top: 0px;
        width: 100%;
    }
    .slider_container .prev_next_counter .counter_parent {
        width: 60%;
        margin: 0;
    }
    .slider_container .prev_next_counter .prev_next_parent {
        width: 40%;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 375px) {
    .slider_container h1 {
        font-weight: 600;
        font-size: 25px;
    }
    .slider_container h1 span {
        font-weight: 600;
        font-size: 32px;
    }
    .slider_container .slide_container .slidee .slide_content h3 {
        font-size: 23px;
        font-weight: 400;
    }
    .slider_container .prev_next_counter .prev_next_parent #prev,
    .slider_container .prev_next_counter .prev_next_parent #next {
        padding: 5px 15px;
    }
}
@media screen and (max-width: 320px) {
    .slider_container h1 {
        font-family: "Mohave";
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0.05em;
        color: #626262;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .slider_container h1 span {
        font-size: 30px;
        color: #febd01;
    }
    .slider_container .slide_container .slidee .slider_image {
        flex: 1 1 284px;
    }
    .slider_container .prev_next_counter .prev_next_parent {
        justify-content: center;
    }
}
