*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* {{{{{{{{{{{{{{{{{{{'post slider'}}}}}}}}}}}}}}}}}}} */
.post_slider {
    position: relative;
    background: #e5e5e5;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.post_slider .top_text {
    color: #444444;
    font-family: "Mohave";
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 300;
}
.post_slider .slider_title {
    text-align: center;
    width: 30px auto;
    font-family: "Mohave";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #febd01;

    /* margin-top: 40px; */
}

.post_slider .post_wrapper {
    /* border: 2px dashed red; */
    position: relative;
    width: 90%;
    height: 450px;
    overflow: hidden;
    margin: 0px auto;
}
.post_slider .next {
    position: absolute;
    top: 45%;
    right: 40px;
    cursor: pointer;
    z-index: 1;
    color: #00aa4a;
}
.post_slider .prev {
    position: absolute;
    top: 45%;
    left: 40px;
    cursor: pointer;
    z-index: 1;
    color: #00aa4a;
}
.post_slider .post_wrapper .post {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;
    width: 80%;
    height: 350px;
    transition: all linear 0.4s;
}
.post_slider .post_wrapper .post .slider_image .slick-slide:hover {
    transform: scale(1, 1);
}
.post_slider .post_wrapper .post .slider_image {
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    position: relative;
    transition: all linear 0.4s;
}

.post_slider .post_wrapper .post .slider_image .slick-center .post img {
    width: 400px;
    transform: scale(1.5);
    opacity: 1;
}

.post_slider .post_wrapper .post .post_info {
    /* border: 1px solid red; */
    display: none;
}
.post_info .dy-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.post_info .dy-row2 {
    margin-bottom: 10px;
}
.post_info .dy-row .post_slider .post_wrapper .post .active {
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 240px;
    width: 5%;
    height: 175px;
}
.slick-center .post_info {
    display: block !important;
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 260px;
    width: 10%;
    height: 170px;
    text-align: center;
}

.post_slider .post_wrapper .post .post_info h3 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #444444;
    margin: 8px 0px;
}
.post_slider .post_wrapper .post .post_info p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: justify;
    /* margin: 4px 26px; */
    padding: 5px 20px;
    color: #252525;
}
.post_slider .post_wrapper .post .post_info a {
    font-family: "Mohave";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #00aa4a;
}

/* BLOG SECTION STARTS  */
#blog-container {
    /* height: 100vh; */
    /* width: 100%; */
    background-color: #f3fcf6;
    padding-bottom: 50px;
    padding-top: 80px;
}
#blog-container .h1,
#blog-container .p {
    text-align: center;
    font-family: "Mohave";
}
#blog-container .h1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 47px;
    margin-top: 30px;
    color: #febd01;
}
#blog-container .p {
    font-weight: 400;
    font-size: 17px;
    line-height: 137.52%;
    letter-spacing: 0.03em;
    margin-top: 15px;
    color: #444444;
}
.row1,
.row2 {
    width: 80%;
    display: flex;
    flex-direction: row !important;
    /* align-items: center; */
    justify-content: center;
    margin-top: 23px !important;
    margin: auto;
    margin-bottom: 50px;
}
.row1 .col26,
.row2 .col26 {
    width: 35%;
}
.row1 .col26 .card,
.row2 .col26 .card {
    background: #fff !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    margin-left: 4%;
    padding-bottom: 15px;
}
.row1 .col26 .card img,
.row2 .col26 .card img {
    width: 100%;
}
.row1 .col26 .card h1,
.row2 .col26 .card h1 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #444444;
    text-align: start;
    padding: 0 10px;
    margin: 15px 0;
}
.row1 .col26 .card p,
.row2 .col26 .card p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 137.52%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    padding: 0 10px;
    margin-bottom: 15px;
    text-transform: none;
}
.row1 .col26 .card a,
.row2 .col26 .card a {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #00aa4a;
    border-bottom: 2px solid #00aa4a;
    /* padding: 0 10px; */
    margin-left: 10px;
}
/* BLOG SECTION ENDS  */

/* Local Cuisine STARTS  */
#lc-container {
    padding-top: 100px;
    width: 100%;
    height: auto;
    background-color: #f3fcf6;
}
.row1 {
    display: flex;
    flex-direction: column;
}
.row1 h1 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #febd01;
    text-align: center;
}
.row1 p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
}
#lc-container .row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#lc-container .row2 .col50 {
    width: 50%;
}
.row2 .col50 img {
    width: 100%;
}
.row2 .col50 p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    padding: 0 10px;
}
/* Local Cuisine ENDS  */
/* ABOUT SECTION CSS STARTS  */

.about_main_section {
    width: 100%;
    height: 100%;
    background: #f3fcf6;
    padding-top: 60px;
    padding-bottom: 78px;
}
.about_main_section h2 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    color: #febd01;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 9px;
}
.about_main_section .about_first_div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_main_section .about_first_div .about_first_text_div {
    width: 58%;
}
.about_main_section .about_first_div .about_first_text_div p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
.about_main_section .about_first_div .about_first_image_div {
    width: 38%;
    display: flex;
}
.about_main_section .about_first_div .about_first_image_div img {
    /* width: 233px; */
    /* width: 100%; */
    height: 200px;
}
.about_main_section .about_first_div .about_first_image_div .second_img_div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about_main_section
    .about_first_div
    .about_first_image_div
    .second_img_div
    img {
    width: 100%;
    height: 100px;
}

/* ((((((((((((((next second-section styling)))))))))))))) */
.about_second_div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.about_second_div .about_second_images {
    width: 40%;
    display: flex;
}
.about_second_div .about_second_images img {
    width: 33%;
    height: 200px;
}
.about_second_div .about_second_images .third_image_div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.about_second_div .about_second_images .third_image_div img {
    width: 100%;
    height: 100px;
}
.about_second_div .about_second_text_div {
    width: 56%;
}
.about_second_div .about_second_text_div p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}

/* (((((((((((((((section-3rt styling))))))))))))))) */
.about_main_section .about_third_div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_main_section .about_third_div .about_third_text_div {
    width: 58%;
}
.about_main_section .about_third_div .about_third_text_div p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
.about_main_section .about_third_div .about_third_images_div {
    width: 38%;
}
.about_main_section .about_third_div .about_third_img {
    width: 38%;
    display: flex;
}
.about_main_section .about_third_div .about_third_images_div img {
    width: 100%;
    height: 200px;
}

/* ABOUT SECTION CSS ENDS  */


/* CONTECT US STYLING PAGE IS START HERE  */

.ContectUs_Container {
    background: #F3FCF6;
    width: 100%;
    height: auto;
    padding-top: 130px;
    padding-bottom: 50px;
}
.ContectUs_Container h2{
    font-family: 'Mohave';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 47px;
color: #FEBD01;
text-align: center;
width: 50%;
margin: 0 auto;
padding-bottom: 30px;
}
.ContectUs_Container #contact_Form {
  width: 50%;
  margin: 0 auto;
}
.ContectUs_Container #contact_Form .contact_parent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ContectUs_Container #contact_Form .contact_parent .col1_div {
    width: 90%;
height: 36px;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 7px;
}
.ContectUs_Container #contact_Form .contact_parent .col1_div input{
    width: 49%;
    padding: 8px 16px;
    background: #F3FCF6;
    border: 0.5px solid #FEBD01;
    font-family: 'Mohave';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #686868;
}
.ContectUs_Container #contact_Form .contact_parent .col2_div{
    width: 90%;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0px;

}
.ContectUs_Container #contact_Form .contact_parent .col2_div input{
    width: 100%;
    padding: 8px 16px;
    background: #F3FCF6;
    border: 0.5px solid #FEBD01;
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #686868;
}
.ContectUs_Container #contact_Form .contact_parent .col3_div {
    width:90%;
height: 143px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin: 7px 0px;
}
.ContectUs_Container #contact_Form .contact_parent .col3_div #messages{
    width: 100%;
    padding-left: 16px;
    height: 143px;
    background: #F3FCF6;
    border: 0.5px solid #FEBD01;
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #686868;
}
.ContectUs_Container #contact_Form .contact_parent #form_btn1{
    border: none;
    width: 100px;
    height: 32px;
    background: #00AA4A;
    margin-top: 11px;
    margin-bottom: 50px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
}
textarea:focus, input:focus{
    outline: none;
}

@media screen and (max-width:768px) {
    .ContectUs_Container #contact_Form {
        width: 75%;
        margin: 0 auto;
      }
    .ContectUs_Container #contact_Form .contact_parent .col1_div {
        flex-direction: column;
        height: 100px;
    }

    .ContectUs_Container #contact_Form .contact_parent .col1_div input {
        width: 100%;
        margin: 7px;
    }
}
@media screen and (max-width:375px) {
    .ContectUs_Container #contact_Form {
        width: 85%;
        margin: 0 auto;
      }
}
/* CONTECT US STYLING PAGE IS END HERE */

/* News SECTION STYLING START HERE  */
.news_container {
    width: 100%;
    height: auto;
    background: #F3FCF6;
    padding-top: 131px;
    padding-bottom: 78px;
}
.news_container h2{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    color: #FEBD01;
    text-align: center;
    margin-bottom: 26px;
}
.news_container .row1-news-container{
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  /* align-items: center; */
}
.news_container .row2-news-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  flex-direction: row-reverse;
}
.col1-big-image-div{
  width: 63%;
  height: 500px;
}
.col1-big-image-div img{
  width: 100%;
  height: 344px;
}
.news-big-txt1 {
  width: 100%;
  height: 144px;
  margin: 8px 0px;
}
.news-big-txt1 p{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #000000;
}

.news-btn1-heading1{
    display: flex;
    margin-bottom: 4px;
}

.news-btn1-heading1 button{
    padding: 4px 16px;
    color: #FFFFFF;
flex: none;
border: none;
order: 0;
flex-grow: 0;
font-family: 'Mohave';
font-style: normal;
font-weight: 600;
font-size: 14px;
    background: #FEBD01;
    margin-right: 11px;
}
.news-btn1-heading1 h3{
    font-family: 'Mohave';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 42px;
color: #000000;
}
.col2-small-image-div {
    /* border: 2px solid green; */
  width: 35%;
  height: auto;
}
.col2-small-image-div .row1-small-image-container{
    width: 100%;
}
.news-small-img1 {
  height: auto;
}
.news-small-img1 img{
  width: 100%;
  height: 150px;
}
.news-small-txt1{
  width: 100%;
  /* height: 88.79px; */
  height: auto;
  margin-top: 4px;
  margin-bottom: 5px;
}
.news-small-txt1 p{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 400;
    font-size: 10.8763px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #000000;
    text-transform: none;
}
.news-btn2-heading2{
display: flex;
margin-bottom: 5px;
}
.news-btn2-heading2 button{
    background: #FEBD01;
    padding:3.35px 10px;
    font-family: 'Mohave';
font-style: normal;
font-weight: 600;
font-size: 8.95699px;
line-height: 12px;
color: #FFFFFF;
border: none;
margin-right: 7.04px;
}
.news-btn2-heading2 h3{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 500;
    font-size: 19.1935px;
    line-height: 27px;
    color: #000000;
}
@media screen and (max-width:768px) {
    .news_container .row1-news-container{
        flex-direction: column;
    }
    .news_container .row2-news-container{
        flex-direction: column;
    }
    .col1-big-image-div {
        width: 100%;
        height: auto;
    }
    .news-big-txt1 {
        width: 100%;
        height: auto;
        margin: 8px 0px;
    }
    .col2-small-image-div {
        width: 100%;
        height: auto;
    }
    .news-small-img1 img{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:425px) {
    .col1-big-image-div img {
        height: auto;
    }
}
@media screen and (max-width:375px) {
    .news-btn1-heading1{
        flex-direction: column;
    }
    .news-btn1-heading1 button {
        padding: 16px 16px;
        width: 40%;
        }
}
/* News section styling END HERE  */
/* CULTURSAL EXPERIENCE CSS STARTS  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_Experience_section {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background: #f3fcf6;
}
.main_Experience_section .first_experience_div {
    width: 90%;
    margin: 0 auto;
}
.main_Experience_section .first_experience_div h2 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 47px;
    color: #febd01;
    text-align: center;
    padding-top: 100px !important;
    padding: 32px 0px;
}
.main_Experience_section .first_experience_div p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
.main_Experience_section .image_AND_txt_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px 0px;
}
.main_Experience_section .image_AND_txt_div .img_expr_condtainor {
    width: 38%;
}

.main_Experience_section .image_AND_txt_div .txt_expr_containor {
    width: 60%;
}
.main_Experience_section .image_AND_txt_div .img_expr_condtainor img {
    width: 100%;
}
.main_Experience_section .image_AND_txt_div .img_expr_condtainor:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

@media screen and (max-width: 768px) {
    .main_Experience_section .image_AND_txt_div {
        flex-direction: column;
    }
    .main_Experience_section .image_AND_txt_div .img_expr_condtainor {
        width: 100%;
    }
    .main_Experience_section .image_AND_txt_div .txt_expr_containor {
        width: 100%;
    }
}

.main_Experience_section .expr_main_div {
    margin: 16px 0px;
    width: 100%;
}
.main_Experience_section .expr_main_div p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
.main_Experience_section .expr_main_div p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
.main_Experience_section .expr_main_div .expr_txt_img_div {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_Experience_section .expr_main_div .expr_txt_img_div .expr_txt_container1 {
    width: 60%;
}
.main_Experience_section
    .expr_main_div
    .expr_txt_img_div
    .expr_txt_container1
    .expr_images_container1 {
    width: 50%;
    display: flex;
    margin: 15px 0px;
}
.main_Experience_section
    .expr_main_div
    .expr_txt_img_div
    .expr_txt_container1
    .expr_images_container1
    img {
    width: 100%;
}
.main_Experience_section .expr_main_div .expr_txt_img_div .expr_txt_container1 {
    width: 63%;
}
.main_Experience_section .expr_main_div .expr_txt_img_div .expr_img_container1 {
    width: 35%;
}
.main_Experience_section
    .expr_main_div
    .expr_txt_img_div
    .expr_img_container1
    img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .main_Experience_section .expr_main_div .expr_txt_img_div {
        flex-direction: column-reverse;
    }
    .main_Experience_section
        .expr_main_div
        .expr_txt_img_div
        .expr_txt_container1 {
        width: 100%;
    }
    .main_Experience_section
        .expr_main_div
        .expr_txt_img_div
        .expr_img_container1 {
        width: 100%;
    }
}

.main_Experience_section .second_div_experience {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_Experience_section .second_div_experience .second_txt_explor {
    width: 60%;
}
.main_Experience_section .second_div_experience .second_txt_explor p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
.main_Experience_section .second_div_experience .second_image_explor {
    width: 38%;
}
.main_Experience_section .second_div_experience .second_image_explor img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .main_Experience_section .second_div_experience {
        flex-direction: column;
    }
    .main_Experience_section .second_div_experience .second_txt_explor {
        width: 100%;
    }
    .main_Experience_section .second_div_experience .second_image_explor {
        width: 100%;
    }
}

.main_Experience_section .explor_section_container3 {
    width: 90%;
    margin: 0 auto;
}
.main_Experience_section .explor_section_container3 p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    margin: 8px 0px;
    text-transform: none;
}

.main_Experience_section .third_Explor_images {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.main_Experience_section .third_Explor_images img {
    width: 30%;
}
@media screen and (max-width: 768px) {
    .main_Experience_section .third_Explor_images {
        flex-direction: column;
    }
    .main_Experience_section .third_Explor_images img {
        width: 100%;
        margin: 10px 0px;
    }
}

/* CULTURAL EXPERIENCE CSS ENDS  */

/* YURTS CSS START  */
.yurt_main_section {
    width: 100%;
    height: 100%;
    /* background: rosybrown; */
    background-color: #f3fcf6;
    padding-top: 100px;
    padding-bottom: 70px;
}
.head {
    font-size: 38px;
    color: #febd01;
    text-align: center;
    font-family: "Mohave";
}
.para {
    width: 90%;
    margin: 0 auto;
}
.para-one {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none !important;
}
.para-two {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    /* identical to box height, or 27px */
    text-transform: none;
    text-align: justify;
    letter-spacing: 0.03em;

    color: #444444;
}
.img-parent {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.img {
    width: 38%;
    margin-right: 20px;
}
.img img {
    width: 100%;
}
.para-three {
    width: 60%;
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    /* or 27px */
    text-transform: none;
    text-align: justify;
    letter-spacing: 0.03em;

    color: #444444;
}
.para-four {
    width: 90%;
    margin: 0 auto;
}
.para-four p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    /* or 27px */
    text-transform: none;
    text-align: justify;
    letter-spacing: 0.03em;
    margin-top: 16px;

    color: #444444;
}
.para-five {
    width: 60%;
}
.para-five p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    /* or 27px */
    text-transform: none;
    text-align: justify;
    letter-spacing: 0.03em;

    color: #444444;
}
.para-one p,
.para-two p,
.para-three p,
.para-four p,
.para-five p,
.if p {
    text-transform: none;
}
.para-and-img {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.para-five-img {
    width: 38%;
}
.para-five-img img {
    width: 100%;
}
.para-five-img h4 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 137.52%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #febd01;
    text-align: center;
}

.if {
    width: 90%;
    margin: 0 auto;
}
.if p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    /* or 27px */

    text-align: justify;
    letter-spacing: 0.03em;

    color: #444444;
}
.three-imgs {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.three-imgs-one {
    width: 30%;
}
.three-imgs-one img {
    width: 100%;
}

.button-tag {
    height: 30px;
    width: 800px;
    margin-left: 100px;
    border-radius: 15px;
    outline: none;
    border-color: gray;
}
.sr {
    background-color: darkgreen;
    border-radius: 6px;
    height: 4vh;
    width: 68px;
}
.main-bt {
    display: flex;
}

@media screen and (max-width: 768px) {
    .img-parent {
        flex-direction: column;
    }
    .img {
        width: 100%;
        margin-right: 0px;
    }
    .para-three {
        width: 100%;
    }
    .para-and-img {
        flex-direction: column-reverse;
    }
    .para-five-img {
        width: 100%;
    }
    .para-five {
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .three-imgs {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .three-imgs-one {
        width: 100%;
    }
}

/* YURT CSS ENDS  */
/* Experiece Blog STYLING START HERE  */
.section_Experince {
    width: 100%;
    height: 100%;
    background: #f3fcf6;
    padding-top: 80px;
    padding-bottom: 80px;
}
.section_Experince h2 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 47px;
    color: #febd01;
    margin: 32px 0px;
    text-align: center;
}
.section_Experince .first_exper_div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section_Experince .first_exper_div .parent_exper_section {
    /* border: 2px solid red; */
    width: 390px;
    height: 500px;
    margin: 10px 0px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.section_Experince .first_exper_div .parent_exper_section:nth-child(16) {
    /* border: 2px solid red; */
    width: 856px;
    height: auto;
    margin: 10px 0px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.section_Experince .first_exper_div .parent_exper_section .img_card_exper {
    width: 100%;
}
.section_Experince .first_exper_div .parent_exper_section .img_card_exper img {
    width: 100%;
}

.section_Experince .first_exper_div .parent_exper_section .text_card_exper {
    width: 100%;
}
.section_Experince .first_exper_div .parent_exper_section .text_card_exper h3 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #444444;
    margin: 10px 10px;
}
.section_Experince .first_exper_div .parent_exper_section .text_card_exper p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 137.52%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    margin: 0px 10px;
    text-transform: none;
}

@media screen and (max-width: 1300px) {
    .section_Experince .first_exper_div {
        justify-content: center;
    }
    .section_Experince .first_exper_div .parent_exper_section {
        margin: 20px 20px;
    }
}
@media screen and (max-width: 955px) {
    .section_Experince .first_exper_div .parent_exper_section {
        width: 856px;
        height: auto;
        margin: 20px 0px;
        padding-bottom: 30px;
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}
/* Experiece Blog STYLING END HERE  */
/*HIKE AND TRAKE STYLING START HERE */
.main_hikeTrake_section {
    width: 100%;
    height: 100%;
    background: #f3fcf6;
    padding-top: 100px;
    padding-bottom: 50px;
}
.main_hikeTrake_section h2 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 47px;
    color: #febd01;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 32px;
}
.main_hikeTrake_section > p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    width: 90%;
    margin: 0 auto;
    text-transform: none;
}
.main_hikeTrake_section .text_hike_And_track_image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.main_hikeTrake_section .text_hike_And_track_image .hike_track_image1 {
    width: 38%;
    margin: 16px 0px;
}
.main_hikeTrake_section .text_hike_And_track_image .hike_track_image1 img {
    width: 100%;
}
.main_hikeTrake_section .text_hike_And_track_image .hike_track_txt1 {
    width: 60%;
}
.main_hikeTrake_section .text_hike_And_track_image .hike_track_txt1 p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
.main_hikeTrake_section .text2_hike_And_track_image2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 0px;
}
.main_hikeTrake_section .text2_hike_And_track_image2 .hike_track_txt2 {
    width: 58%;
}
.main_hikeTrake_section .text2_hike_And_track_image2 .hike_track_txt2 p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
.main_hikeTrake_section .text2_hike_And_track_image2 .hike_track_image2 {
    width: 38%;
}
.main_hikeTrake_section .text2_hike_And_track_image2 .hike_track_image2 h3 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 137.52%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #febd01;
    text-align: center;
    margin: 10px 0px;
}
.main_hikeTrake_section .text2_hike_And_track_image2 .hike_track_image2 img {
    width: 100%;
}
.main_hikeTrake_section p span {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #febd01;
}
.main_hikeTrake_section .hike_and_track_images_section {
    width: 90%;
    margin: 0 auto;
}
.main_hikeTrake_section
    .hike_and_track_images_section
    .second_images_div_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

.main_hikeTrake_section
    .hike_and_track_images_section
    .second_images_div_section
    .imges {
    width: 30%;
}
.main_hikeTrake_section
    .hike_and_track_images_section
    .second_images_div_section
    .imges
    img {
    width: 100%;
}
.main_hikeTrake_section
    .hike_and_track_images_section
    .second_images_div_section
    .imges
    h3 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 137.52%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #febd01;
    text-align: center;
    margin: 10px 0px;
}

@media screen and (max-width: 768px) {
    .main_hikeTrake_section .text_hike_And_track_image {
        flex-direction: column;
    }
    .main_hikeTrake_section .text_hike_And_track_image .hike_track_image1 {
        width: 100%;
    }
    .main_hikeTrake_section .text_hike_And_track_image .hike_track_txt1 {
        width: 100%;
    }
    .main_hikeTrake_section .text2_hike_And_track_image2 {
        flex-direction: column;
    }
    .main_hikeTrake_section .text2_hike_And_track_image2 .hike_track_txt2 {
        width: 100%;
    }
    .main_hikeTrake_section .text2_hike_And_track_image2 .hike_track_image2 {
        width: 100%;
        margin-top: 10px;
    }
    .main_hikeTrake_section
        .hike_and_track_images_section
        .second_images_div_section {
        flex-direction: column;
    }
    .main_hikeTrake_section
        .hike_and_track_images_section
        .second_images_div_section
        .imges {
        width: 100%;
    }
}
/* HIKE AND TRACK STYLING END HERE */

/* Local Cuisine STARTS  */
#localCuisine_section {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    background: rgba(243, 252, 246, 1);
}
#localCuisine_section .localCuisine_txt{
   width: 90%;
   margin: 0 auto;
}
#localCuisine_section .localCuisine_txt h1{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #FEBD01;
    text-align: center;
}
#localCuisine_section .localCuisine_txt p{
    font-family: 'Mohave';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 158.29%;
text-align: justify;
letter-spacing: 0.03em;
color: #444444;
text-transform: none;
}
#localCuisine_section .localCuisine_txt_img{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
#localCuisine_section .localCuisine_txt_img .localCuisine_imge{
    width: 38%;
}
#localCuisine_section .localCuisine_txt_img .localCuisine_imge img{
    width: 100%;
}
#localCuisine_section .localCuisine_txt_img .localCuisine_text{
    width: 60%;
}
#localCuisine_section .localCuisine_txt_img .localCuisine_text p{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
#localCuisine_section .text_localCuisine_center{
    width: 90%;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 16px;
}
#localCuisine_section .text_localCuisine_center p{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
#localCuisine_section .localCuisine_resipi_section {
    width: 90%;
    margin: 0 auto;
}
#localCuisine_section .localCuisine_resipi_section p{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
#localCuisine_section .localCuisine_recipes_container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   border-bottom: 2px solid #FEBD01;
}
#localCuisine_section .localCuisine_resipi_section .localCuisine_images {
   width: 10%;
   margin: 16px 20px;
}
#localCuisine_section .localCuisine_resipi_section .localCuisine_images img{
   width: 100%;
}
#localCuisine_section .localCuisine_resipi_section .localCuisine_images h4{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #FEBD01;
    text-align: center;
    margin: 16px 0px;
}
#localCuisine_section .second_localCuisine_section {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}
#localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}
#localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1:nth-child(5){
    width: 40%;
    margin: 0 auto;
    display: flex;
}
#localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1 .first_image_div{
    width: 27%;
}
#localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1 .first_txt_div{
    width: 65%;
}
#localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1 .first_txt_div p{
    font-family: 'Mohave';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 158.29%;
text-align: justify;
letter-spacing: 0.03em;
color: #444444;
text-transform: none;
}

#localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1 .first_image_div img{
    width: 100%;
}
#localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1 .first_image_div h4{
    font-family: 'Mohave';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 158.29%;
text-align: justify;
letter-spacing: 0.03em;
color: #FEBD01;
text-align: center;
margin: 10px 0px;
}



@media screen and (max-width:768px) {
    #localCuisine_section .localCuisine_txt_img{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    #localCuisine_section .localCuisine_txt_img .localCuisine_imge{
        width: 100%;
    }

    #localCuisine_section .localCuisine_txt_img .localCuisine_text{
        width: 100%;
    }
    #localCuisine_section .localCuisine_resipi_section .localCuisine_images {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 16px 10px;
     }
    #localCuisine_section .second_localCuisine_section {
        width: 90%;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;

    }
    #localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1{
        width: 100%;
    }
    #localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1 .first_image_div{
        width: 30%;
    }
    #localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1 .first_txt_div{
        width: 50%;
    }
    #localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1:nth-child(5){
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding: 16px 0px;
    }
}
@media screen and (max-width:425px) {
    #localCuisine_section .localCuisine_resipi_section .localCuisine_images {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 16px 10px;
     }
    #localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1{
        flex-direction: column;
    }
    #localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1 .first_image_div{
        width: 80%;
    }
    #localCuisine_section .second_localCuisine_section .localCuisine_parent1_img1_txt1 .first_txt_div{
        width: 100%;
    }
}
/* Local Cuisine ENDS  */

/* LOCATION STYLING START HERE  */
.main_location_section {
    width: 100%;
    height: 100%;
    background: #f3fcf6;
    padding-bottom: 78px;
    padding-top: 100px;
}
.main_location_section h2 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #febd01;
    text-align: center;
    padding-bottom: 13px;
}
.main_location_section .parent_location_section {
    width: 90%;
    margin: 0 auto;
}
.main_location_section .parent_location_section h3 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #febd01;
}
.main_location_section .parent_location_section p {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 158.29%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #444444;
    text-transform: none;
}
.main_location_section .parent_location_section .images_location_div {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main_location_section
    .parent_location_section
    .images_location_div
    .locatioin_img1 {
    width: 356px;
    height: auto;
    margin: 10px 20px;
}
.main_location_section .parent_location_section .images_location_div img {
    width: 100%;
}
.main_location_section .parent_location_section .images_location_div h4 {
    font-family: "Mohave";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 137.52%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #febd01;
    text-align: center;
}
@media screen and (max-width: 1320px) {
    .main_location_section
        .parent_location_section
        .images_location_div
        .locatioin_img1 {
        width: 500px;
        height: auto;
        margin: 10px 20px;
    }
}
@media screen and (max-width: 1200px) {
    .main_location_section
        .parent_location_section
        .images_location_div
        .locatioin_img1 {
        width: 900px;
        height: auto;
        margin: 10px 0px;
    }
}
/* LOCATION STYLING END HERE  */

/* MEDIA QUERIES START  */
@media (min-width: 769px) and (max-width: 1024px) {
    .slick-center .post_info {
        width: 15% !important;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .slick-center .post_info {
        width: 15% !important;
    }
    .post_slider .post_wrapper .post .post_info p {
        margin: 0px !important;
    }
    .post_slider .post_wrapper .post .post_info h3 {
        margin: 0px !important;
    }
}
@media (min-width: 0px) and (max-width: 425px) {
    .slick-center .post_info {
        width: 15% !important;
    }
    .post_slider .post_wrapper .post .post_info p {
        margin: 0px !important;
        font-size: 12px !important;
    }
    .post_slider .post_wrapper .post .post_info h3 {
        margin: 0px !important;
    }
    .post_info .dy-row {
        flex-direction: column;
        justify-content: center !important;
    }
    .post_slider .post_wrapper .post .post_info {
        height: 207px !important;
    }
}
@media screen and (max-width: 900px) {
    .post_slider .next {
        top: 48%;
        right: 100px;
    }
    .post_slider .prev {
        top: 48%;
        left: 100px;
    }
    .post_slider .post_wrapper .post .post_info {
        /* border: 1px solid red; */
        /* display: none; */
        background: rgba(255, 255, 255, 0.95);
        position: absolute;
        top: 200px;
        width: 6%;
        height: 190px;
        text-align: center;
    }
}
@media screen and (max-width: 830px) {
    .post_slider .post_wrapper {
        /* border: 2px dashed red; */
        position: relative;
        width: 90%;
        height: 450px;
        overflow: hidden;
        margin: 0px auto;
    }
    .post_slider .post_wrapper .post .post_info {
        top: 200px;
        width: 6%;
        height: 185px;
    }
    .post_slider .post_wrapper .post .post_info h3 {
        font-size: 25px;
        letter-spacing: 0.02em;
        margin: 2px 0px;
    }
    .post_slider .post_wrapper .post .post_info p {
        font-size: 17px;
        letter-spacing: 0.01em;
        margin: 0px 10px;
    }
}
@media screen and (max-width: 765px) {
    .post_slider .post_wrapper .post .post_info {
        top: 250px;
        width: 6%;
        height: 170px;
    }
    .post_slider .post_wrapper .post .post_info p {
        font-size: 17px;
        letter-spacing: 0.01em;
        margin: 0px 5px;
    }
}
@media screen and (max-width: 670px) {
    .post_slider .next {
        top: 46%;
        right: 70px;
    }
    .post_slider .prev {
        top: 46%;
        left: 70px;
    }
    .post_slider .post_wrapper .post .post_info {
        top: 200px;
        width: 6%;
        height: 200px;
    }
}
@media screen and (max-width: 600px) {
    .post_slider .post_wrapper .post .post_info {
        top: 270px;
        width: 6%;
        height: 160px;
    }
    .post_slider .post_wrapper .post .post_info h3 {
        font-size: 25px;
        letter-spacing: 0.02em;
        margin: 10px 0px;
    }
    .post_slider .post_wrapper .post .post_info p {
        font-size: 17px;
        letter-spacing: 0.01em;
        margin: 5px 15px;
    }
}
@media screen and (max-width: 478px) {
    .post_slider .post_wrapper .post .post_info {
        top: 250px;
        width: 5.5%;
        height: 170px;
    }
}
@media screen and (max-width: 372px) {
    .post_slider .next {
        top: 46%;
        right: 30px;
    }
    .post_slider .prev {
        top: 46%;
        left: 30px;
    }
    .post_slider .post_wrapper .post .post_info {
        top: 250px;
        width: 5.5%;
        height: 200px;
    }
}
@media screen and (max-width: 290px) {
    .post_slider .post_wrapper .post .post_info {
        top: 220px;
        width: 6%;
        height: 170px;
    }
}

/* BLOG MQ  */
@media (min-width: 0px) and (max-width: 618px) {
    .row1,
    .row2 {
        flex-direction: column !important;
    }
    .row1 .col26,
    .row2 .col26 {
        width: 100%;
        margin-bottom: 10px;
    }
}
/* ABOUT MQ  */
@media screen and (max-width: 768px) {
    .about_second_div {
        flex-direction: column-reverse;
    }
    .about_second_div .about_second_images {
        width: 100%;
        display: flex;
    }
    .about_second_div .about_second_text_div {
        width: 100%;
        margin: 10px 0px;
    }
    .about_main_section .about_second_div .about_second_images img {
        width: 100%;
    }
    .about_second_div .about_second_images .third_image_div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .about_second_div .about_second_images .third_image_div img {
        width: 100%;
        height: 100px;
    }
}
@media screen and (max-width: 425px) {
    .about_second_div .about_second_images {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about_second_div .about_second_images img {
        width: 100%;
        height: 300px;
    }
    .about_second_div .about_second_images .third_image_div img {
        width: 100%;
        height: 200px;
    }
}
@media screen and (max-width: 768px) {
    .about_main_section .about_first_div {
        flex-direction: column;
    }
    .about_main_section .about_first_div .about_first_text_div {
        width: 100%;
    }
    .about_main_section .about_first_div .about_first_image_div {
        width: 100%;
    }
}
@media screen and (max-width: 375px) {
    .about_main_section .about_first_div .about_first_image_div {
        width: 100%;
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .about_main_section .about_third_div {
        flex-direction: column;
    }
    .about_main_section .about_third_div .about_third_text_div {
        width: 100%;
    }
    .about_main_section .about_third_div .about_third_images_div {
        width: 100%;
    }

    .about_main_section .about_third_div .about_third_img {
        width: 100%;
    }
    .about_main_section .about_third_div .about_third_img img {
        width: 33%;
    }
}
@media screen and (max-width: 425px) {
    .about_main_section .about_third_div .about_third_img {
        width: 100%;
        flex-direction: column;
    }
    .about_main_section .about_third_div .about_third_img img {
        width: 100%;
        height: 370px;
    }
}
